@font-face {
    font-family: 'TT Wellingtons';
    src: url('TTWellingtons-Regular.woff2') format('woff2'),
        url('TTWellingtons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('TTWellingtons-DemiBold.woff2') format('woff2'),
        url('TTWellingtons-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('TTWellingtons-Bold.woff2') format('woff2'),
        url('TTWellingtons-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('TTWellingtons-Medium.woff2') format('woff2'),
        url('TTWellingtons-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

